/* login page */

* {
  font-family: 'Open Sans',
    sans-serif;
}

#LoginPage,
#SignupPage {
  background-color: #ECECEC;
}

#LoginHeader,
#SignupHeader {
  background-color: #474787;
  box-shadow: 0 5px 20px gray;
}

#LoginInfo {
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

#SignupInfo {
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15%;

}

h1 {
  font-size: 60px;
}

.LoginForm {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  gap: 25px;
}

.LoginForm input,
button {
  width: 65%;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 5px;
}

hr {
  border: 1px solid black;
  width: 40%;
  height: 1px;
}

.OrLine {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#loginFooter,
#SignupFooter {
  box-shadow: 0 -5px 20px gray;
  background-color: #2C2C54;
  color: #AAABB8;
  gap: 70px;
}